Repository wmitrus/nextjs-15-boilerplate, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, tests, config, docs, dependencies

ci(playwright): implement sharded and smoke test workflows with browser matrix
  .github/workflows/playwright-sharded.yml
  .github/workflows/playwright-smoke.yml
  package.json
  playwright.config.ts
Labels: tests, config, dependencies

ci(playwright): optimize and standardize test workflows
  .github/workflows/playwright-optimized.yml
  .github/workflows/playwright-sharded.yml
  .github/workflows/playwright.yml
Labels: config

test(playwright): add smoke test project and update test tags
  e2e/error-handling.spec.ts
  e2e/home.spec.ts
  e2e/performance.spec.ts
  package.json
  playwright.config.ts
  src/instrumentation.ts
Labels: tests, config, dependencies

ci(playwright): ensure system dependencies are installed when cache is hit
  .github/workflows/playwright-optimized.yml
  .github/workflows/playwright-sharded.yml
  .github/workflows/playwright-smoke.yml
  .github/workflows/playwright.yml
Labels: config

ci(deploy): clear pnpm cache and improve dependency installation
  .github/workflows/deployVercelPreview.yml
  .github/workflows/deployVercelProd.yml
  .npmrc
  next.config.ts
Labels: config

ci(deps): optimize dependency installation and resolve OpenTelemetry conflicts
  .github/workflows/deployVercelPreview.yml
  .github/workflows/deployVercelProd.yml
  .npmrc
  next.config.ts
  package.json
  pnpm-lock.yaml
Labels: config, dependencies

ci(config): remove redundant OpenTelemetry and peer dependency overrides
  .npmrc
  next.config.ts
  package.json
Labels: config, dependencies

ci(deps): update pnpm-lock.yaml with optimized dependency tree
  pnpm-lock.yaml
Labels: dependencies

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/app/**/*'
          - 'src/stories/**/*'
          - 'public/**/*'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/lib/**/*'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'e2e/**/*'
          - '**/*.test.tsx'
          - '**/*.test.ts'
          - 'jest.config.ts'
          - 'jest.setup.ts'
          - 'playwright.config.ts'

config:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'tsconfig.json'
          - 'next.config.js'
          - 'tailwind.config.ts'
          - '.eslintrc.json'
          - '.prettierrc'
          - '.github/**/*'
          - '.storybook/**/*'
          - 'plop-templates/**/*'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '*.md'
          - 'docs/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'pnpm-lock.yaml'
